* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;

}



body {
  margin: 0;
  font-size: 15px;
  font-family: "Anton", sans-serif;
  background-color: seashell;
  
}

.App.light {
  background-color: seashell;
  color: black;
}

.App.dark {
  background-color: black;
  color: gold;
}

.darkButton {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin: 2px;
  border: 1px solid white;
  padding: 5px;
}


.nav-container {
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;
}

.nav-logo {
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-options a {
  text-decoration: none;
  color: green;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-options a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.feed-container {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1593111774240-d529f12cf4bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1176&q=80')!important;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card {
  max-width: 30vw;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: center;
  padding: 3rem; 
  border: 1px solid #ccc;
  border-radius: 1rem; 
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.new-blog-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  gap: 4rem; 
}

.blog-post-card {
  max-width: 20rem; 
  width: 30%; 
  padding: 1.5rem; 
  border: 1px solid black;
  border-radius: 1rem; 
  background-color: green;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

.blog-post-card h4 {
  margin-bottom: 1rem; 
}

.blog-post-card button {
  margin: 0 auto;
}

.course-container {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: blue;
}