* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  background-color: seashell;

}



body {
  margin: 0;
  font-size: 15px;
 
}


.nav-container {
  background-color: #333;
  color: blue;
  padding: 1rem;
}

.nav-logo {
  text-decoration: none;
  color: red;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-options a {
  text-decoration: none;
  color: green;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav-options a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.blog-card {
  max-width: 30vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 4rem; 
  border: 1px solid #ccc;
  border-radius: 1rem; 
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.new-blog-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  gap: 4rem; 
}

.blog-post-card {
  max-width: 20rem; 
  width: 30%; 
  padding: 1.5rem; 
  border: 1px solid black;
  border-radius: 1rem; 
  background-color: green;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
}

.blog-post-card h4 {
  margin-bottom: 1rem; 
}

.blog-post-card button {
  margin: 0 auto;
}